<div class="flex w-full items-center justify-center min-h-screen p-4 bg-[#fff9f6]">
    <div class="bg-white rounded-xl shadow-lg w-full max-w-md p-8">
        <div class="flex items-center gap-4 mb-6">
            <mat-icon style="color: #ff4d2d;" [routerLink]="'/login'">arrow_back</mat-icon>
            <h1 class="text-[#ff4d2d] text-xl font-bold text-center">Forget Password</h1>
        </div>

        @if (step() == 1) {
        <form #verification="ngForm" (ngSubmit)="onSubmit(verification)">
            <div class="mb-8">
                <label for="email" class="block text-gray-700 font-medium mb-1">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required
                    class="w-full border rounded-lg px-3 py-2 border-[#ddd] focus:outline focus:border-orange-500"
                    placeholder="Enter Email...">
            </div>
            <button type="submit"
                class="w-full font-semibold py-2 mb-4 rounded-lg border transition duration-200 bg-[#ff4d2d] text-white hover:bg-[#e64323] cursor-pointer">
                Send OTP </button>
        </form>
        }

        @if (step() == 2) {
        <form #verifyOtp="ngForm" (ngSubmit)="otpVerify(verifyOtp)">
            <div class="mb-8">
                <label for="otp" class="block text-gray-700 font-medium mb-1">OTP</label>
                <input type="email" id="otp" name="otp" [(ngModel)]="otp" required
                    class="w-full border rounded-lg px-3 py-2 border-[#ddd] focus:outline focus:border-orange-500"
                    placeholder="Enter OTP send on your email...">
            </div>
            <button type="submit"
                class="w-full font-semibold py-2 mb-4 rounded-lg border transition duration-200 bg-[#ff4d2d] text-white hover:bg-[#e64323] cursor-pointer">
                Verify OTP </button>
        </form>
        }

        @if (step() == 3) {
        <form #resetPass="ngForm" (ngSubmit)="changePass(resetPass)">
            <div class="mb-4">
                <label for="newPassword" class="block text-gray-700 font-medium mb-1">New Password</label>
                <div class="relative">
                    <input [type]="hide()?'text':'password'" id="password" name="password" [(ngModel)]="password"
                        class="w-full border rounded-lg px-3 py-2 border-[#ddd] focus:outline focus:border-orange-500"
                        placeholder="Enter New Password...">
                    <mat-icon class="absolute right-3 top-2 " (click)="togglePassword($event)" matSuffix>
                        {{hide() ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </div>
            </div>

            <div class="mb-4">
                <label for="confirmPassword" class="block text-gray-700 font-medium mb-1">Confirm Password</label>
                <div class="relative">
                    <input [type]="show()?'text':'password'" id="confirmPassword" name="confirmPassword"
                        [(ngModel)]="confirmPassword"
                        class="w-full border rounded-lg px-3 py-2 border-[#ddd] focus:outline focus:border-orange-500"
                        placeholder="Enter Confirm Password...">
                    <mat-icon class="absolute right-3 top-2 " (click)="showPassword($event)" matSuffix>
                        {{show() ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </div>
            </div>

            <button type="submit"
                class="w-full font-semibold py-2 mb-4 rounded-lg border transition duration-200 bg-[#ff4d2d] text-white hover:bg-[#e64323] cursor-pointer">
                Reset Password </button>

        </form>
        }
    </div>
</div>