<div class="relative flex bg-white rounded-xl shadow-lg overflow-hidden
            border border-[#ff4d2d] w-full">

    <!-- Image -->
    <div class="w-48 bg-gray-100">
        <img [src]="item.image"
             alt="Item Image"
             class="w-full h-full object-cover" />
    </div>

    <!-- Content -->
    <div class="p-5 flex-1">
        <h2 class="text-xl font-semibold text-[#ff4d2d]">
            {{ item.name }}
        </h2>

        <p class="text-base text-gray-700 mt-1">
            <span class="font-medium">Category:</span> {{ item.category }}
        </p>

        <p class="text-base text-gray-700">
            <span class="font-medium">Food Type:</span> {{ item.foodType }}
        </p>

        <p class="text-base text-gray-700">
            <span class="font-medium">Price:</span> {{ item.price }}.00
        </p>
    </div>

    <!-- Edit / Delete Icons -->
    <div class="absolute bottom-4 right-4 flex gap-3 text-[#ff4d2d]">
        <mat-icon [routerLink]="['/createupdateitem', item.id]" class="cursor-pointer text-[#ff4d2d] hover:scale-110 transition">
            edit
        </mat-icon>
        <mat-icon class="cursor-pointer text-[#ff4d2d] hover:scale-110 transition">
            delete
        </mat-icon>
    </div>

</div>
